* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Removes the native browser styling */
    margin: 0; /* Removes the margin in older versions of Chrome */
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield; /* Changes the appearance to a standard text field */
}

.main-container {
    display: grid;
    grid-template-columns: 35% 65%;
    height: 100vh;
    gap: 1rem;
    padding: 2rem;
    box-sizing: border-box;
}


.api-header {
    display: flex;
    background-color: #4699ef;
    color: white;
    padding: 1rem 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: 1px solid black;
}

.api-header h2 {
    text-align: center;
    text-transform: uppercase;
}


.api-container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-remove-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.selection-container {
    padding: 10px;
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    gap: 0.5rem;
}

.selection-container label {
    text-align: right;
}

.selection-container input,
.selection-container select {
    justify-self: start;
    width: 100%;
}

.param-field {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    gap: 0.5rem;
    padding: 10px;
}

.param-field label {
    text-align: right;
}

.param-field input,
.param-field select {
    justify-self: start;
    width: 90%;
}

.param-field input[type=number] {
    -moz-appearance: textfield;
    width: 20%;
}

.param-field input[type=checkbox],
.param-field input[type=radio],
.param-field input[type=date] {
    width: auto;
}

.maxLimit {
    display: flex;
    margin-right: 1rem;
    justify-content: right;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
}

.required {
    font-weight: bold;
}

.selection-container select {
    width: 60%;
}

.destination-header {
    margin-left: 1rem;
}

.destination-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    margin-left: 1.5rem;
}

.add-remove-container button {
    border: #333 solid 1px;
    border-radius: 10px;
    padding: 8px 20px;
}

.add-remove-container button:not(:disabled):hover {
    background-color: lightgray;
    color: white;
    cursor: pointer;
}

.submission-container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.submission-container button {
    border: #006080 solid 1px;
    background: #008CBA;
    color: white;
    border-radius: 10px;
    padding: 16px 40px;
}

.submission-container button:hover {
    background-color: #41cdff;
    color: white;
    cursor: pointer;
}


button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    background-color: #ccc;
    color: #666;
    border-color: #aaa;
}

button:disabled:hover {
    background-color: #ccc;
    color: #666;
}

.query-viewport {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}
