.api-container {
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5rem;
}

.add-remove-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.selection-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 0.5rem;
}

.selection-container select {
    width: 60%;
}

.add-remove-container button {
    border: #333 solid 1px;
    border-radius: 10px;
    padding: 8px 20px;
}

.add-remove-container button:hover {
    background-color: lightgray;
    color: white;
    cursor: pointer;
}

.submission-container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.submission-container button {
    border: #006080 solid 1px;
    background: #008CBA;
    color: white;
    border-radius: 10px;
    padding: 16px 40px;
}

.submission-container button:hover {
    background-color: #41cdff;
    color: white;
    cursor: pointer;
}
